@page "/proposals"
@using Comm2TenderBlazor.Models.Dto


@inject HttpClient HttpClient
@inject NavigationManager NavigationManager


<PageTitle>Заявки</PageTitle>

<h1>Заявки</h1>


@if (proposals == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="mb-3">
        <input class="form-control mb-3" type="text" @bind="searchText" placeholder="Enter search query" />
        <button class="btn btn-primary" @onclick="Search">Поиск</button>
    </div>
    
    <button class="btn btn-primary" @onclick="Add">Добавить</button>

    <table class="table">
        <thead>
            <tr>
                <th>ID заявки</th>
                <th>Контрагент</th>
                <th>Количество товара</th>
                <th>Стоимость 1 ед</th>
                <th>Стоимость доставки</th>
                <th>Срок поставки</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var proposal in proposals)
            {
                <tr>
                    <td>@proposal.ProposalId</td>
                    <td>@proposal.Agent.Name</td>
                    <td>@proposal.CountPos</td>
                    <td>@proposal.PositionPrice</td>
                    <td>@proposal.PositionPrice</td>
                    <td>@proposal.DeliveryCost</td>
                    <td>@proposal.DeliveryTime</td>
                    <td>
                        <button class="btn btn-secondary" @onclick="() => Update(proposal)">
                            <span class="btn btn-secondary">Редактировать</span>
                        </button>
                        <button @onclick="() => Delete(proposal.ProposalId)">Удалить</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    //[CascadingParameter] public IModalService Modal { get; set; }

    private List<Proposal> proposals;
    private string searchText;

    private const string PageTitle = "Заявки";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            proposals = await PagesHelper.GetAllListAsync<Proposal>("api/proposal/Search", HttpClient);
        }
        catch (Exception ex)
        {
            NavigationManager.NavigateTo("/error");
        }

    }

    private async Task Search()
    {
        proposals = await PagesHelper.SearchAsync<Proposal>(searchText, "api/proposal/Search", HttpClient);
    }

    private async Task Add()
    {
        // var modalParameters = new ModalParameters();
        // modalParameters.Add("Id", 0);

        // Modal.Show<UserForm>("Новый пользователь", modalParameters);
        NavigationManager.NavigateTo("/proposal/0");
    }

    private async Task Update(Proposal model)
    {
        // var modalParameters = new ModalParameters();
        // modalParameters.Add("Id", user.UserId);

        // Modal.Show<UserForm>(user.Name, modalParameters);

        NavigationManager.NavigateTo($"/proposal/{model.ProposalId}");
    }

    private async Task Delete(int id)
    {
        await HttpClient.DeleteAsync($"api/proposal/{id}");
        proposals = await PagesHelper.GetAllListAsync<Proposal>("api/proposal/Search", HttpClient);
    }

}    